<%- include('../partials/header') %>

<form action="/recipes/<%= recipe.id %>/ingredients/<%= ingredient.id %>?_method=PUT" method="POST">
  <label>Item:</label>
  <textarea name="items" value=""><%= ingredient.items %></textarea>
  <input type="submit" value="Add Item">
</form>
</form>

<%- include('../partials/footer') %>