<%- include('../partials/header') %>

<table id="list">
    <thead>
        <tr>
        <th>Title</th>
        <th>Prep Time:</th>
        <th>Rating</th>
        <th>Ingredients</th>
        </tr>
    </thead>
    <tbody>
        <% recipes.forEach(function(r) { %>
        <tr>
            <td><%= r.title %></td>
            <td><%= r.prepTime %>min</td>
            <td>dummy</td>
            <!-- <td>how do i source from show.ejs?</td> -->
            <td><a href="/recipes/<%= r._id %>">INGREDIENTS</a></td>  
            <td>
                <form action="/recipes/<%= r._id %>?_method=DELETE" method="POST">
                    <button>
                        DEL
                    </button>
                </form>
            </td> 
        </tr>
        <% }); %>
    </tbody>
</table>



<%- include('../partials/footer') %>