<%- include('../partials/header') %>

<ul>
    <li>
        <% if (user) { %>
            <a href="/logout">Logout</a>
        <% } else { %>
            <a href="/auth/google">Login with Google</a>
        <% } %>
    </li>
</ul>

<table id="list">
    <thead>
        <tr>
        <th>Title</th>
        <th>Prep Time:</th>
        <th></th>
        </tr>
    </thead>
    <tbody>
        <% recipes.forEach(function(r) { %>
        <tr>
            <td><%= r.title %></td>
            <td><%= r.prepTime %>min</td>
            <td><a href="/recipes/<%= r._id %>">INGREDIENTS</a></td>  
            <td>
                <form action="/recipes/<%= r._id %>?_method=DELETE" method="POST">
                    <button>
                        DEL
                    </button>
                </form>
            </td> 
        </tr>
        <% }); %>
    </tbody>
</table>

<%- include('../partials/footer') %>