<%- include('../partials/header') %>

<section id="show-page">
  <div>Prep Time: </div>
  <div><%= recipe.prepTime %>min</div>
</section>

<h4>Ingredients:</h2>
<% if (recipe.ingredients.length) { %>
    <table>
      <thead>
        <tr>
          <!-- <th></th> -->
        </tr>
      </thead>
      <tbody>
        <% recipe.ingredients.forEach(function(i) { %>
          <tr>
            <td><%= i.items %>
                <% if(user && i.user == user.id) { %>
                <a href="/recipes/<%= recipe.id %>/ingredients/<%= i.id %>">
                <button>
                    <i class="material-icons">edit</i>
                </button>                
                </a>
            </form>
            </td>
            <td>
              <form action="/recipes/<%= recipe.id %>/ingredients/<%= i.id %>?_method=DELETE" method="POST">
                <button>
                    <i class="material-icons">delete</i>
                </button>
              </form> 
              <% } %>
            </td>
        </tr>
        <% }); %>
        <tr>
            <td colspan="2"></td>
        </tr>
    </tbody>
</table>
<% } else { %>
    <h5>No Items Yet</h5>
<% } %>

<% if(user) { %>
    <form id="add-ingredient-form" method="POST" action="/recipes/<%= recipe._id %>/ingredients">
        <textarea name="items" placeholder="Add new ingredient" required="true"></textarea>
        <input type="submit" value="Add">
    </form>
<% } %>

<h2>Reviews</h2>
<% if (recipe.reviews.length) { %>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>User</th>
          <th>Reviews (<%= recipe.reviews.length %>)</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <% let total = 0 %>
        <% recipe.reviews.forEach(function(c) { %>
          <% total += c.rating %>
          <tr>
            <td><%= c.createdAt.toLocaleDateString() %></td>
            <td><%= c.user.name %></td>
            <td><%= c.content %></td>
            <td><%= c.rating %></td>
            <td>
              <% if(user && c.user == user.id) { %>
              <form action="/recipes/<%= recipe.id %>/reviews/<%= c.id %>?_method=DELETE" method="POST">
                <button>
                    <i class="material-icons">delete</i>
                </button>
              </form> 
              <% } %>
            </td>
          </tr>
        <% }); %>
        <tr>
          <td colspan="2"></td>
          <td><strong><strong><%= (total / recipe.reviews.length).toFixed(1) %> out of 5</strong></td>
        </tr>
      </tbody>
    </table>
<% } else { %>
    <h5>No Reviews Yet</h5>
<% } %>

</form>
<form method="POST" action="/recipes/<%= recipe._id %>/reviews">
  <textarea name="content" placeholder="Login to rate & add review!"></textarea>
  <label>Rating:</label>
  <select class="browser-default" name="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <br><input type="submit" value="Add Review">
</form>

<%- include('../partials/footer') %>

